[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-crossplatform"]
	path = dotbot-crossplatform
	url = https://github.com/msdrigg/dotbot-crossplatform.git
[submodule "vifm/colors"]
	path = vifm/colors
	url = https://github.com/vifm/vifm-colors
