[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-crossplatform"]
	path = dotbot-crossplatform
	url = https://github.com/msdrigg/dotbot-crossplatform.git
