@import "mocha.css";

* {
  font-family: "MesloLGS Nerd Font";
  font-size: 16px;
  min-height: 0;
  padding: 0;
  margin: 0;
  /* font-weight: bold; */
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 0.5rem;
  background-color: @background;
}

#workspaces button {
  color: @text;
  margin-right: 0.5rem;
  padding: 1px 5px;
}

#workspaces button.active {
  color: @accent;
}

#workspaces button:hover {
  color: @accent;
  border: 0px;
}

#clock {
  color: @text;
  margin-left: 1rem;
  margin-right: 1rem
}

#temperature {
  color: @textBright;
  margin-left: 1rem;
}

#memory {
  color: @textBright;
  margin-left: 1rem;
}

#cpu {
  color: @textBright;
  margin-left: 1rem;
}

#pulseaudio {
  color: @accent2;
  margin-left: 1rem;
}

#network {
  color: @textBright;
  margin-left: 1rem;
}

#bluetooth {
  color: @blue;
  margin-left: 1rem;
}

#tray {
  color: @text;
  border-radius: 0.5rem;
  background-color: @yellow;
}
