@import "../waybar/mocha.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@background, 0.75);
}

button {
  margin: 2px;
	border-radius: 4px;
	border-color: @accent;
	color: @text;
	background-color: @base;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  font-size: 3em;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: @surface0;
	outline-style: none;
}

#lock {
    background-image: url("/home/christoph/.config/wlogout/icons/lock.svg")
}

#logout {
    background-image: url("/home/christoph/.config/wlogout/icons/logout.svg")
}

#suspend {
    background-image: url("/home/christoph/.config/wlogout/icons/suspend.svg")
}

#hibernate {
    background-image: url("/home/christoph/.config/wlogout/icons/hibernate.svg")
}

#shutdown {
    background-image: url("/home/christoph/.config/wlogout/icons/shutdown.svg")
}

#reboot {
    background-image: url("/home/christoph/.config/wlogout/icons/reboot.svg")
}
